{
	"show_model_name": true,
    "enable_mcp_tools": false,
    "enable_mcp_tools_exec": false,
	"provider": "ollama",
	"model": "llama3.2",
   	"mcpServers": {
   		"serverName": {
			"type": "stdio",
       		"command": "....path to....../mcp.sh",
       		"args": []
   		}
   	}
}
